.bookSingle {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.bookIMG {
  width: 220px;
  margin-right: 40px;
}

.bookSingle img {
  width: 100%;
  height: auto;
  border: 1px solid #00000024;
  border-radius: 3px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.bookDetails {
  width: calc(100% - 260px);
  overflow: hidden;
}

.bookDetails h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.bookDetails p:nth-child(2) {
  margin-bottom: 20px;
  font-size: 20px;
}

.bookDetails p:nth-child(3) {
  margin-bottom: 40px;
  font-size: 22px;
}

.bookDetails button {
  padding: 10px 20px;
  background: rgb(175, 255, 175);
  color: rgb(0, 73, 0);
  border: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.priceArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  color: rgb(0, 73, 0);
}

.priceArea p {
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .bookIMG {
    width: 40%;
  }

  .bookDetails {
    width: calc(100% - 40%);
  }

  .bookDetails h2 {
    font-size: 22px;
  }

  .bookDetails p:nth-child(2) {
    font-size: 14px;
  }

  .bookDetails p:nth-child(3) {
    font-size: 17px;
  }

  .bookDetails button {
    padding: 5px 10px;
    margin-left: 10px;
  }

}